@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css" type="text/css" asp-append-version="true" />
<div class="main-wrapper">
    <div class="banner">
        <img src="https://rubicmarketing.com/wp-content/uploads/2021/07/banner-quang-cao-facebook-3.jpg" alt="Fake"
            srcset="">
    </div>
    <div class="container">
        <div class="card-container pt-5 pb-5">
            <div class="card">
                <div class="card-img-top">
                    <img src="https://dummyimage.com/200x200/000/fff" alt="">
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <h4>T-Shirt with Cat</h4>
                    </div>
                    <div class="card-subtitle mb-2 text-muted">
                        $20
                    </div>
                    <div class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi libero nam
                        odio, eveniet a maiores dolore facilis aspernatur unde maxime voluptatibus reiciendis ex
                        laudantium distinctio delectus. Ipsum eius reiciendis nulla.</div>
                    <a href=# class="card-link">Detail</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img-top">
                    <img src="https://dummyimage.com/200x200/000/fff" alt="">
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <h4>T-Shirt with Cat</h4>
                    </div>
                    <div class="card-subtitle mb-2 text-muted">
                        $20
                    </div>
                    <div class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi libero nam
                        odio, eveniet a maiores dolore facilis aspernatur unde maxime voluptatibus reiciendis ex
                        laudantium distinctio delectus. Ipsum eius reiciendis nulla.</div>
                    <a href=# class="card-link">Detail</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img-top">
                    <img src="https://dummyimage.com/200x200/000/fff" alt="">
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <h4>T-Shirt with Cat</h4>
                    </div>
                    <div class="card-subtitle mb-2 text-muted">
                        $20
                    </div>
                    <div class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi libero nam
                        odio, eveniet a maiores dolore facilis aspernatur unde maxime voluptatibus reiciendis ex
                        laudantium distinctio delectus. Ipsum eius reiciendis nulla.</div>
                    <a href=# class="card-link">Detail</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img-top">
                    <img src="https://dummyimage.com/200x200/000/fff" alt="">
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <h4>T-Shirt with Cat</h4>
                    </div>
                    <div class="card-subtitle mb-2 text-muted">
                        $20
                    </div>
                    <div class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi libero nam
                        odio, eveniet a maiores dolore facilis aspernatur unde maxime voluptatibus reiciendis ex
                        laudantium distinctio delectus. Ipsum eius reiciendis nulla.</div>
                    <a href=# class="card-link">Detail</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img-top">
                    <img src="https://dummyimage.com/200x200/000/fff" alt="">
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <h4>T-Shirt with Cat</h4>
                    </div>
                    <div class="card-subtitle mb-2 text-muted">
                        $20
                    </div>
                    <div class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi libero nam
                        odio, eveniet a maiores dolore facilis aspernatur unde maxime voluptatibus reiciendis ex
                        laudantium distinctio delectus. Ipsum eius reiciendis nulla.</div>
                    <a href=# class="card-link">Detail</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img-top">
                    <img src="https://dummyimage.com/200x200/000/fff" alt="">
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <h4>T-Shirt with Cat</h4>
                    </div>
                    <div class="card-subtitle mb-2 text-muted">
                        $20
                    </div>
                    <div class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi libero nam
                        odio, eveniet a maiores dolore facilis aspernatur unde maxime voluptatibus reiciendis ex
                        laudantium distinctio delectus. Ipsum eius reiciendis nulla.</div>
                    <a href=# class="card-link">Detail</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img-top">
                    <img src="https://dummyimage.com/200x200/000/fff" alt="">
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <h4>T-Shirt with Cat</h4>
                    </div>
                    <div class="card-subtitle mb-2 text-muted">
                        $20
                    </div>
                    <div class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi libero nam
                        odio, eveniet a maiores dolore facilis aspernatur unde maxime voluptatibus reiciendis ex
                        laudantium distinctio delectus. Ipsum eius reiciendis nulla.</div>
                    <a href=# class="card-link">Detail</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img-top">
                    <img src="https://dummyimage.com/200x200/000/fff" alt="">
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <h4>T-Shirt with Cat</h4>
                    </div>
                    <div class="card-subtitle mb-2 text-muted">
                        $20
                    </div>
                    <div class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi libero nam
                        odio, eveniet a maiores dolore facilis aspernatur unde maxime voluptatibus reiciendis ex
                        laudantium distinctio delectus. Ipsum eius reiciendis nulla.</div>
                    <a href=# class="card-link">Detail</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/home.js" asp-append-version="true"></script>