@using RookiesFashion.ClientSite.ViewModels;
@model ProductVM
<div class="card">
    <div class="card-img-top">
        <img src="@Model.Thumbnail.First().Url" alt="">
    </div>
    <div class="card-body">
        <div class="card-title">
            <h4>@Model.Name</h4>
        </div>
        <div class="card-subtitle mb-2 text-muted">
            $@Model.Price
        </div>
        <div class="card-text">@Model.Description</div>
        <a href="/Detail/@Model.ProductId" class="card-link">Detail</a>
    </div>
</div>